<!-- <div class="container p-0" id="footer">
    <hr />
    <div class="row text-white py-3">
        <div class="col-6 align-items-center">
            <div>
                <a href="https://www.facebook.com/" target="_blank">
                    <div class="button-big">
                        <i class="fab fa-facebook-square" id="facebook"></i></div>
                </a>

                <a href="https://twitter.com/?lang=en" target="_blank">
                    <div class="button-big">
                        <i class="fab fa-twitter" id="twitter"></i></div>
                </a>

                <a href="https://www.linkedin.com/feed/" target="_blank">
                    <div class="button-big">
                        <i class="fab fa-linkedin" id="linkedin"></i></div>
                </a>

                <a href="https://github.com/Makinen-Tayler" target="_blank">
                    <div class="button-big">
                        <i class="fab fa-github" id="github"></i></div>
                </a>

                <a href="https://www.instagram.com/?hl=en" target="_blank">
                    <div class="button-big">
                        <i class="fab fa-instagram" id="instagram"></i></div>
                </a>
            </div>
        </div>
    </div>
</div> -->