#footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
}

.button-big {
  font-size: 2em;
  width: 50px;
  text-align: center;
  padding: 0.2em 0em 0.2em 0em;
  display: inline-block;
}
