<div>
  <h2>Hello everyone and welcome to my site.</h2>
  <br />
  <p>
    This is for those who want to see what I have accomplished in my few months
    as a web developer.
  </p>
  <p>
    In may of 2019 I received my Bachelor of Science in Business from the
    University of Idaho. My major is information systems which focuses on
    database management and desgin.
  </p>
  <p>
    I'm looking forward to the next steps in my career and learning as much as
    possible about data analysis, business processes, and the technologies that
    allow business professionals to make informed and accurate decisions.
  </p>
</div>