<div class="mainHeader">
  <div class="header">
    <div style="text-align:center">
      <div class="containsAvatar">
        <div routerLink="/home" id="avatar"></div>
      </div>
      <ul>
        <h2 class="animated bounceInDown">
          <a target="_blank" rel="noopener" href="https://github.com/Makinen-Tayler">My Github!</a>
        </h2>
      </ul>
    </div>
  </div>




  <div class="navbar">
    <div class="navListItems">
      <ul class="navList">
        <li class="navListItem" routerLink="/home"><a routerLink="/home">Home</a></li>
        <li class="navListItem" routerLink="/news"><a routerLink="/news">News</a></li>
        <li class="navListItem" routerLink="/contact"><a routerLink="/contact">Contact</a></li>
        <li class="navListItem" routerLink="/about"><a routerLink="/about">About</a></li>
      </ul>
    </div>
  </div>
</div>