.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  margin-top: 4px;
}

.example-header-image {
  background-size: contain;
}

.title {
  font-weight: bold;
}

.img-article {
  height: auto;
  width: auto;
  max-width: 450px;
  max-height: 450px;
  padding-left: 50px;
}

.action-buttons {
  text-align: left;
}

.example-container {
  margin: auto;
  width: 80%;
  height: auto;
  border: 1px solid rgba(111, 111, 111, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 75%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 0px;
}

.source-name {
  margin-left: 5px;
}

.list-item:hover {
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
}

.menuIcon {
  margin-left: 13%;
}

.NewsTitle {
  font-size: 48px;
}

.icon {
  font-size: 18px;
  vertical-align: middle;
}

.articleButtons {
  background-color: #599bb3;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 12px;
  padding: 0px 7px 0px 0px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  vertical-align: middle;
}

.articleButtons:hover {
  background-color: gray;
}

.sideButton {
  background-color: #599bb3;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 12px;
  padding: 0px 7px 0px 0px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  vertical-align: middle;
}

.buttonList {
  list-style: none;
}

.buttonList li {
  display: inline;
  min-width: 696px;
}

.buttonListBut {
  padding: 0px 0px 0px 10px;
}
