body {
  background-color: #c1c5d2;
}
a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

* {
  font-family: "Roboto", Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// body {
//   padding: 2em 23em;
//   background: lightgray;
// }
